<div class="alert alert-danger">At errors</div>

<% if defined? @object %>
<% if defined? @object.errors %>
<% if @object.errors.any? %>

  <div class="alert alert-danger">
    <ul>

      <% @object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

    </ul>
  </div>

<% else %>
  <div class="alert alert-danger">!errors.any?</div>
<% end %>
<% end %>
<% end %>
