<% if params[:controller] == 'about' %>

  <div class="well">
    <h3>Location Info</h3>
    <ul>
      <li>The Bookstore</li>
      <li>242 Ipil corner Epifanio Sts.</li>
      <li>Santolan, Palayan City</li>
      <li>Phone: 0935.535.6014</li>
      <li>Email: support@thebookstore.com</li>
    </ul>
  </div>
<% end %>

<% if params[:controller] == 'books' && ['index', 'show'].include?(params[:action]) %>
  <div class="list-group">
    <a href="#" class="list-group-item">Ruby on Rails</a>
    <a href="#" class="list-group-item">PHP</a>
    <a href="#" class="list-group-item">HTML5</a>
  </div>
<% end %>
