<% if params[:controller] == 'about' %>

  <div class="well">
    <h3>Location Info</h3>
    <ul>
      <li>The Bookstore</li>
      <li>242 Ipil corner Epifanio Sts.</li>
      <li>Santolan, Palayan City</li>
      <li>Phone: 0935.535.6014</li>
      <li>Email: support@thebookstore.com</li>
    </ul>
  </div>
<% end %>

<% if (params[:controller] == 'books' && ['index', 'show'].include?(params[:action])) || (params[:controller] == 'categories' && params[:action] == 'show') %>
  <div class="list-group">
    <%= link_to 'All Books', books_path, class: 'list-group-item' %>
    <% @categories.each do |cat| %>
      <%= link_to cat.name, category_path(cat), class: 'list-group-item' %>
    <% end %>
  </div>
<% end %>
