<div style="background:#fef">
  <h2 class="pull-left">Book Categories</h2>
  <%= link_to 'Add new', new_category_path, class: 'btn btn-default pull-right' %>
</div>

<table class="table table-striped">
  <tr>
   <th>Category Name</th>
   <th>Actions</th>
  </tr>
  <% @categories.each do |cat| %>
    <tr>
      <td><%= cat.name %></td>
      <td><%= link_to 'Edit', edit_category_path(cat) %> | <%= link_to 'Delete', category_path(cat), method: :delete %></td>
    </tr>
  <% end %>
</table>
